.filter-section {
  max-width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  gap: 1rem;
}

.search-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 12px); /* Adjust for padding and border */
}

.search-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
.reset-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #d85c55;
  color: white;
  cursor: pointer;
}

.displayed-table-item {
  background-color: #f0f0f0;
  color: black;
  font-size: 1rem;
  border-radius: 4px;
  text-align: center;
}

.displayed-table-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.hidden-table-item {
  font-size: 1rem;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ccc;
}

.hidden-table-item:hover {
  background-color: #8f8f8f;
  cursor: pointer;
}
